<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Intermedidate Algorithm Scripting</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<link rel="stylesheet" type="text/css" href="../css/algorithm.css">
</head>

<body>
	<div class="container-fluid">
		<div class="col-xs-12 col-sm-12 col-lg-12 text-center">
			<h2>Intermediate Algorithm Scripting</h2>
		</div>
		<table id="algorithmList" class="table table-bordered">
			<thead>
				<tr>
					<th class="question text-center">Question</th>
					<th class="input text-center">Input</th>
					<th class="result text-center">Result</th>
				</tr>
			</thead>
			<tbody>
<!-- Sum ALll Start -->
				<tr data-function-name="sumAll">
					<td class="question">
						<h3>Sum All Numbers in a Range</h3> 
						We'll pass you an array of two numbers. Return the sum of those two
						numbers and all numbers between them. 
						<br />The lowest number will not always come first. 
						<br />Write your own code. 
						<br /><input type="button" class="btn btn-default solutionButt" value="Show Solution">
						<div class="solutionCode"></div>
					</td>
					<td>
						<div class="form-group">
							<label for="num1">Number 1:</label> 
							<input type="number" id="num1" class="form-control"> <br /> 
							<label for="num2">Number 2:</label>
							<input type="number" id="num2" class="form-control">
							<input type="button" class="btn btn-default testFunction" value="Show Result">
						</div>
					</td>
					<td class="result"><span class="testResult"></span></td>
				</tr>
<!-- Sum ALll End -->
<!-- Diff Two Array Start -->
				<tr data-function-name="diffArray">
					<td><h3>Diff Two Arrays</h3> 
						Compare two arrays and return a new array with any items 
						only found in one of the two given arrays, but not both. 
						In other words, return the symmetric difference of the two arrays.
						<br />Write your own code <br />
						<input	type="button" class="btn btn-default solutionButt" value="Show Solution">
						<div class="solutionCode"></div>
					</td>
					<td><label for="arr1">Array Number 1:</label> 
						<input type="text" id="arr1" class="form-control"> <br />
						<label for="arr2">Array Number 2:</label>
						<input type="text" id="arr2" class="form-control"> 
						<input type="button" class="btn btn-default testFunction" value="Show Result">
					</td>

					<td class="result"><span class="testResult"></span></td>
				</tr>
<!-- Diff Two Array End -->

<!-- Roman Numeral Converter Start -->
				<tr data-function-name="convertToRoman">
					<td><h3>Roman Numeral Converter</h3> 
						Convert the given number into a roman numeral.
						<br />All roman numerals answers should be
						provided in upper-case. <br />Write your own code.<br />

						<input type="button" class="btn btn-default solutionButt" value="Show Solution">
						<div class="solutionCode"></div>
					</td>
					<td><label for="decimalNumber">Decimal Number:</label>
						<input type="number" id="decimalNumber" class="form-control">
						<input type="button" value="Show Result" class="btn btn-default testFunction">
					</td>
					<td class="result"><span class="testResult"></span></td>
				</tr>
<!-- Roman Numeral Converter End -->

<!-- Wherefore art thou Start -->
				<tr data-function-name="whatIsInAName">
					<td><h3>Wherefore art thou</h3> 
						Make a function that looks through an array of objects (first argument) 
						and returns an array of all objects that have matching property 
						and value pairs (second argument). 
						Each property and value pair of the source object has
						to be present in the object from the collection if it is to be
						included in the returned array. 
						<br />For example, if the first argument is [{ first: "Romeo", last: "Montague" }, 
						{ first: "Mercutio", last: null }, { first: "Tybalt", last: "Capulet" }],
						and the second argument is { last: "Capulet" }, then you must
						return the third object from the array (the first argument),
						because it contains the property and its value, that was passed on
						as the second argument. 
						<br />Write your own code.<br />
						<input type="button" class="btn btn-default solutionButt" value="Show Solution">
						<div class="solutionCode"></div>
					</td>
					<td><label for="collectionArr">Collection Array:</label> 
						<textarea rows="5" id="collectionArr" class="form-control"></textarea>
						<label for="sourceArr">Source Array:</label> 
						<textarea rows="5" id="sourceArr" class="form-control"></textarea>
						<input type="button"  value="Show Result" class="btn btn-default testFunction">
					</td>
					<td class="result"><span class="testResult"></span></td>
				</tr>
<!-- Wherefore art thou End -->

<!--Search and Replace Start -->
				<tr data-function-name="searchReplace">
					<td><h3>Search and Replace</h3> 
						<br/>Perform a search and replace on the sentence using the arguments provided 
						and return the new sentence.
						<br/>First argument is the sentence to perform the search and replace on.
						<br/>Second argument is the word that you will be replacing (before).
						<br/>Third argument is what you will be replacing the second argument with (after).
						<br/>NOTE: Preserve the case of the original word when you are replacing it. 
						<br/>For example if you mean to replace the word "Book" with the word "dog", 
						it should be replaced as "Dog"
						<br/>Write your own code.<br/>
						<input type="button" class="btn btn-default solutionButt" value="Show Solution">
						<div class="solutionCode"></div>
					</td>
					<td><label for="beforeSentence">Before Sentence:</label> 
						<textarea rows="5" cols=""  id="beforeSentence" class="form-control"></textarea>
						<label for="beforeString">Before replaced String:</label> 
						<input type="text" id="beforeString" class="form-control">
						<label for="afterString">After String:</label> 
						<input type="text" id="afterString" class="form-control">
						<input type="button" value="Show Result" class="btn btn-default testFunction">
					</td>
					<td class="result"><span class="testResult"></span></td>
				</tr>
<!-- Search and Replace End -->

<!--Translate Pig Latin -->
				<tr data-function-name="translatePigLatin">
					<td><h3>Pig Latin</h3> 
						<br/>Translate the provided string to pig latin.
						<br/><a href="https://en.wikipedia.org/wiki/Pig_Latin" target="_blank"> Pig Latin </a>
						takes the first consonant (or consonant cluster) of 
						an English word, moves it to the end of the word and suffixes an "ay".
						<br/>If a word begins with a vowel you just add "way" to the end.
						<br/>Input strings are guaranteed to be English words in all lowercase.
						<br/>Write your own code. <br/>
						<input type="button" class="btn btn-default solutionButt" value="Show Solution">
						<div class="solutionCode"></div>
					</td>
					<td><label for="beforeTranslatePigStr">Before String:</label> 
						<input type="text" id="beforeTranslatePigStr" class="form-control">
						<input type="button" value="Show Result" class="btn btn-default testFunction">
					</td>
					<td class="result"><span class="testResult"></span></td>
				</tr>
<!-- Search and Replace End -->

<!--DNA pair Element Start-->
				<tr data-function-name="pairElement">
					<td><h3>DNA Pairing</h3> 
						<br/>The DNA strand is missing the pairing element. 
						Take each character, get its pair, and return the results as a 2d array.
						<br/><a href="https://en.wikipedia.org/wiki/Base_pair" target="_blank">Base pairs </a>
						 are a pair of AT and CG. Match the missing element to the provided character.
						<br/>Return the provided character as the first element in each array.
						<br/>For example, for the input GCG, return [["G", "C"], ["C","G"],["G", "C"]]
						<br/>The character and its pair are paired up in an array, 
						and all the arrays are grouped into one encapsulating array.
						<br/>Write your own code. <br/>
						<input type="button" class="btn btn-default solutionButt" value="Show Solution">
						<div class="solutionCode"></div>
					</td>
					<td><label for="beforeDNAStr">String:</label> 
						<input type="text" id="beforeDNAStr" class="form-control">
						<input type="button" value="Show Result" class="btn btn-default testFunction">
					</td>
					<td class="result"><span class="testResult"></span></td>
				</tr>
<!-- DNA pair Element End -->

<!--Fear Not Letter Start-->
				<tr data-function-name="fearNotLetter">
					<td><h3>Missing letters</h3> 
						<br/>Find the missing letter in the passed letter range and return it.
						<br/>If all letters are present in the range, return undefined.
						<br/>Write your own code. <br/>
						<input type="button" class="btn btn-default solutionButt" value="Show Solution">
						<div class="solutionCode"></div>
					</td>
					<td><label for="beforeNotLetterStr">String:</label> 
						<input type="text" id="beforeNotLetterStr" class="form-control">
						<input type="button" value="Show Result" class="btn btn-default testFunction">
					</td>
					<td class="result"><span class="testResult"></span></td>
				</tr>
<!-- Fear Not Letter End -->

<!--Boolean Who Start-->
				<tr data-function-name="booWho">
					<td><h3>Boo who</h3> 
						<br/>Check if a value is classified as a boolean primitive. Return true or false.
						<br/>Boolean primitives are true and false.
						<br/>Write your own code. <br/>
						<input type="button" class="btn btn-default solutionButt" value="Show Solution">
						<div class="solutionCode"></div>
					</td>
					<td><label for="boolStr">String:</label> 
						<input type="text" id="boolStr" class="form-control">
						<input type="button" value="Show Result" class="btn btn-default testFunction">
					</td>
					<td class="result"><span class="testResult"></span></td>
				</tr>
<!-- Boolean Who End -->

<!--Unite Unique Start-->
				<tr data-function-name="uniteUnique">
					<td><h3>Sorted Union</h3> 
						<br/>Write a function that takes two or more arrays and returns 
						a new array of unique values in the order of the original provided arrays.
						<br/>In other words, all values present from all arrays should be 
						included in their original order, but with no duplicates in the final array.
						<br/>The unique numbers should be sorted by their original order, 
						but the final array should not be sorted in numerical order.
						<br/>Check the assertion tests for examples.
						<br/>Write your own code. <br/>
						<input type="button" class="btn btn-default solutionButt" value="Show Solution">
						<div class="solutionCode"></div>
					</td>
					<td><label for="uniteUniqueArg">Argument array:</label> 
						<input type="text" id="uniteUniqueArg" class="form-control">
						<input type="button" value="Show Result" class="btn btn-default testFunction">
					</td>
					<td class="result"><span class="testResult"></span></td>
				</tr>
<!-- Unite Unique End -->

<!--Convert HTML Entities Start-->
				<tr data-function-name="convertHTML">
					<td><h3>Convert HTML Entities</h3> 
						<br/>Convert the characters &, <, >, " (double quote), and ' (apostrophe), 
						in a string to their corresponding HTML entities.
						<br/>Write your own code. <br/>
						<input type="button" class="btn btn-default solutionButt" value="Show Solution">
						<div class="solutionCode"></div>
					</td>
					<td><label for="convertHTMLStr">String:</label> 
						<input type="text" id="convertHTMLStr" class="form-control">
						<input type="button" value="Show Result" class="btn btn-default testFunction">
					</td>
					<td class="result"><span class="testResult"></span></td>
				</tr>
<!-- Convert HTML Entities End -->

<!--Spinal Case Start-->
				<tr data-function-name="spinalCase">
					<td><h3>Spinal Tap Case</h3> 
						<br/>Convert a string to spinal case. 
						Spinal case is all-lowercase-words-joined-by-dashes.
						<br/>Write your own code. <br/>
						<input type="button" class="btn btn-default solutionButt" value="Show Solution">
						<div class="solutionCode"></div>
					</td>
					<td><label for="spinalCaseStr">String:</label> 
						<input type="text" id="spinalCaseStr" class="form-control">
						<input type="button" value="Show Result" class="btn btn-default testFunction">
					</td>
					<td class="result"><span class="testResult"></span></td>
				</tr>
<!-- Spinal Case End -->

<!--Sum Primes Start-->
				<tr data-function-name="sumPrimes">
					<td><h3>Sum All Primes</h3> 
						<br/>Sum all the prime numbers up to and including the provided number.
						<br/>A prime number is defined as a number greater than one and having 
						<br/>only two divisors, one and itself. 
						For example, 2 is a prime number because it's only divisible by one and two.
						<br/>The provided number may not be a prime.
						<br/>Write your own code. <br/>
						<input type="button" class="btn btn-default solutionButt" value="Show Solution">
						<div class="solutionCode"></div>
					</td>
					<td><label for="sumPrimesMaxNum">Max number:</label> 
						<input type="number" id="sumPrimesMaxNum" class="form-control">
						<input type="button" value="Show Result" class="btn btn-default testFunction">
					</td>
					<td class="result"><span class="testResult"></span></td>
				</tr>
<!-- Sum Primes End -->

<!--Find Element Start-->
				<tr data-function-name="findElement">
					<td><h3>Finders Keepers</h3> 
						<br/>Create a function that looks through an array (first argument) and 
						returns the first element in the array that passes a truth test (second argument).
						<br/>Write your own code. <br/>
						<input type="button" class="btn btn-default solutionButt" value="Show Solution">
						<div class="solutionCode"></div>
					</td>
					<td><!-- <label for="arrNumFindEle">Array of elements:</label> 
						<input type="text" id="arrNumFindEle" class="form-control">
						<label for="functionFindEle">Finders Keepers Function:</label> 
						<textarea rows="5" id="functionFindEle" class="form-control"></textarea>
						<input type="button" value="Show Result" class="btn btn-default testFunction"> -->
					</td>
					<td class="result"><span class="testResult"></span></td>
				</tr>
<!-- Find Element End -->

<!--Drop Element Start-->
				<tr data-function-name="dropElements">
					<td><h3>Drop it</h3> 
						<br/>Drop the elements of an array (first argument), 
						starting from the front, until the predicate (second argument) returns true.
						<br/>The second argument, func, is a function you'll use to test 
						the first elements of the array to decide if you should drop it or not.
						<br/>Return the rest of the array, otherwise return an empty array.
						<br/>Write your own code. <br/>
						<input type="button" class="btn btn-default solutionButt" value="Show Solution">
						<div class="solutionCode"></div>
					</td>
					<td><!-- <label for="arrNumFindEle">Array of elements:</label> 
						<input type="text" id="arrNumFindEle" class="form-control">
						<label for="functionFindEle">Finders Keepers Function:</label> 
						<textarea rows="5" id="functionFindEle" class="form-control"></textarea>
						<input type="button" value="Show Result" class="btn btn-default testFunction"> -->
					</td>
					<td class="result"><span class="testResult"></span></td>
				</tr>
<!-- Drop Element End -->

<!--Steamroll Array Start-->
				<tr data-function-name="steamrollArray">
					<td><h3>Steamroller</h3> 
						<br/>Flatten a nested array. You must account for varying levels of nesting.
						<br/>Write your own code. <br/>
						<input type="button" class="btn btn-default solutionButt" value="Show Solution">
						<div class="solutionCode"></div>
					</td>
					<td><!-- <label for="steamrollStr">Steamroll Array:</label> 
						<input type="text" id="steamrollStr" class="form-control">
						<input type="button" value="Show Result" class="btn btn-default testFunction"> -->
					</td>
					<td class="result"><span class="testResult"></span></td>
				</tr>
<!-- Steamroll Array End -->

<!--Binary Agent Start-->
				<tr data-function-name="binaryAgent">
					<td><h3>Binary Agents</h3> 
						<br/>Return an English translated sentence of the passed binary string.
						<br/>The binary string will be space separated.
						<br/>Write your own code. <br/>
						<input type="button" class="btn btn-default solutionButt" value="Show Solution">
						<div class="solutionCode"></div>
					</td>
					<td><label for="binaryStrAgent">Binary String:</label> 
						<textarea rows="5" id="binaryStrAgent" class="form-control"></textarea>
						<input type="button" value="Show Result" class="btn btn-default testFunction">
					</td>
					<td class="result"><span class="testResult"></span></td>
				</tr>
<!-- Binary Agent End -->

<!--Arguments Optional Start-->
				<tr data-function-name="addTogether">
					<td><h3>Arguments Optional</h3> 
						<br/>Create a function that sums two arguments together. 
						If only one argument is provided, then return a function that 
						expects one argument and returns the sum.
						<br/>For example, addTogether(2, 3) should return 5, and 
						addTogether(2) should return a function.
						<br/>Calling this returned function with a single argument will then return the sum:
						<br/>var sumTwoAnd = addTogether(2);
						<br/>sumTwoAnd(3) returns 5.
						<br/>If either argument isn't a valid number, return undefined.
						<br/>Write your own code. <br/>
						<input type="button" class="btn btn-default solutionButt" value="Show Solution">
						<div class="solutionCode"></div>
					</td>
					<td><!-- <label for="argOptFuncStr">Call Function String:</label> 
						<input type="text" id="argOptFuncStr" class="form-control">
						<input type="button" value="Show Result" class="btn btn-default testFunction"> -->
					</td>
					<td class="result"><span class="testResult"></span></td>
				</tr>
<!-- Arguments Optional End -->
			</tbody>
		</table>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="../script/algorithm.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			
			$("[data-function-name]").each(function(){
				var functionName = $(this).data("functionName");

				//Add solution code to div
				$(this).find(".solutionCode").html(
						"<pre>" + window[functionName].toString().replace("<", "&lt;") + "</pre>");

				//Trigger click event on solution button
				$(this).find(".solutionButt").click(function() {
					if ($(this).attr('value') === 'Show Solution') {
						$(this).next().fadeIn();
						$(this).attr('value', 'Hide Solution');

					} else {
						$(this).attr('value', 'Show Solution');
						$(this).next().fadeOut();
					}
				});
				var row = $(this);
				//Trigger for testing button and testing result
				$(this).find(".testFunction").click(function() {
					switch(functionName) {
						case "sumAll":
							var arr = [];
							arr.push($("#num1").val());
							arr.push($("#num2").val());
							row.find('.testResult').text(sumAll(arr));
							break;

						case "diffArray":
							var arr1 = $("#arr1").val().split(",");
							var arr2 = $("#arr2").val().split(",");
							row.find('.testResult').text(diffArray(arr1, arr2));
							break;

						case "convertToRoman":
							var decimalNum = $("#decimalNumber").val();
							row.find('.testResult').text(convertToRoman(decimalNum));
							break;

						case "whatIsInAName":
							var collectionArr = $("#collectionArr").val();
							var sourceArr = $("#sourceArr").val();
							row.find('.testResult').text(whatIsInAName(collectionArr,sourceArr));
							break;

						case "searchReplace":
							var beforeSentence = $("#beforeSentence").val().trim();
							var before = $("#beforeString").val().trim();
							var after = $("#afterString").val().trim();
							row.find('.testResult').text(searchReplace(beforeSentence, before, after));
							break;

						case "pairElement":
							var beforeString  = $("#beforeDNAStr").val().trim();
							row.find('.testResult').text(pairElement(beforeString));
							break;

						case "fearNotLetter":
							var beforeString  = $("#beforeNotLetterStr").val().trim();
							row.find('.testResult').text(fearNotLetter(beforeString));
							break;

						case "booWho":
							var boolStr  = $("#boolStr").val().trim();
							if(boolStr === 'true' | boolStr === 'false'){
								boolStr = Boolean(boolStr);
							}
							row.find('.testResult').text(booWho(boolStr));
							break;

						case "uniteUnique":
							var uniteUniqueArg  = $("#uniteUniqueArg").val().trim();
							uniteUniqueArg = JSON.parse("[" + uniteUniqueArg + "]");
							row.find('.testResult').text(uniteUnique(uniteUniqueArg));
							break;

						case "convertHTML":
							var convertHTMLStr  = $("#convertHTMLStr").val().trim();
							row.find('.testResult').text(convertHTML(convertHTMLStr));
							break;

						case "spinalCase":
							var spinalCaseStr  = $("#spinalCaseStr").val().trim();
							row.find('.testResult').text(spinalCase(spinalCaseStr));
							break;

						case "sumPrimes":
							var sumPrimesMaxNum  = $("#sumPrimesMaxNum").val().trim();
							row.find('.testResult').text(sumPrimes(sumPrimesMaxNum));
							break;

						/* case "findElement":
							var arrNumFindEle  = $("#arrNumFindEle").val().trim();
							arrNumFindEle = JSON.parse("[" + arrNumFindEle + "]");
							var functionFindEle  = $("#functionFindEle").val().trim();
							var func = new Function("num", functionFindEle);
							row.find('.testResult').text(findElement(arrNumFindEle, func));
							break; */
						/*  case "steamrollArray":
							var steamrollStr  = $("#steamrollStr").val().trim();
							steamrollStr = steamrollStr.replace(/^{}$/g,"{}");
							steamrollStr = steamrollStr.replace(/^[]+$/g,"");
							steamrollStr = JSON.parse("[" + steamrollStr + "]");
							row.find('.testResult').text(steamrollArray(steamrollStr));
							break; */
						case "binaryAgent":
							var binaryStrAgent  = $("#binaryStrAgent").val().trim();
							row.find('.testResult').text(binaryAgent(binaryStrAgent));
							break;
							
						/* case "addTogether":
							var argOptFuncStr  = $("#argOptFuncStr").val().trim();
							/*var argArr = argOptFuncStr.replace("addTogether","").split(")(");
							argArr = argArr.map(function(val){
								return val.replace(/\(/g,"").replace(/\)/g,"").split(",");
							})
							console.log(eval(argOptFuncStr));
							row.find('.testResult').text(addTogether(argArr));
							break; */
					}
				});
			})
		})
	</script>
</body>